{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wikidrugs</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css'%}">
</head>
<body>
    
{% block content %}

{% endblock %}
<footer>
    <div class="piepag" id="social">
        <p class="copy">Wikidrugs &copy; 2019</p>
        <div class="sociales">
            <a class="icon-facebook-official" href="#"></a>
            <a class="icon-instagram" href="#"></a>
            <a class="icon-whatsapp" href="#"></a>
        </div>
    </div>
</footer>
</body>
</html>