{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wikidrugs</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexboxgrid.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/marihuana.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/carrusel.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/marihuana.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/grafico.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lista.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tiposmarihuana.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css'%}">
</head>

{% block content %}

{% endblock %}

</html>