{% extends "drugs/base.html" %} {% load staticfiles %} {% block content %}
<div class="banner">
    <img src="{% static 'img/bmw_f30.JPG' %}" alt="" class="banner__img">


</div>

{% if validlink %}

<h1>Nueva contraseña</h1>

<form method="post">
    {% csrf_token %} {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva contraseña:</label> {{ form.new_password1 }} {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
    <input type="submit" value="cambiar mi contraseña" />

</form>

{% else %}

<h1 class="text-center">ENLACE INÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %} {% endblock %}