{% extends "drugs/base.html" %} {% load staticfiles %} {% block content %}
<div class="pagprincipal">
    <header>
        <div class="Contenedor">
            <h1 class="icon-search">Wikidrugs</h1>
            <input type="Checkbox" id="menu-bar">
            <label class="icon-th-list" for="menu-bar"></label>
            <nav class="menu">
                <a href="#Sentido">Drogas</a>
                <a href="#social">Contactos</a>
                <a href="{% url 'consultas' %}">Consultas</a> {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">{{user.get_username}}, Salir</a> {% else %}
                <a href="{% url 'login' %}">Ingresar</a> {% endif %}
                <a href="/">Volver</a>

            </nav>
        </div>
    </header>
</div>
<article class="Consultas">
    <h2>Responder Consultas</h2>
    {% if Consultas %}
    {% for consulta in Consultas %}
    <div class=" row Consultasvista">
        <div class="col-xs-12 consulta-vista">
            <div class="consulta">
                <div class="consult col-xs-12">
                    Consulta: {{ consulta.consulta }}
                </div>
                <div class=" nombre col-xs-12">
                    Nombre: {{ consulta.nombre }}
                </div>
                <div class=" respuest col-xs-12">
                    <a href="{% url 'consultaResponder' pk=consulta.pk %}">Responder consulta</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <p>No hay consultas por responder.</p>
    {% endif %}
</article>
<br class="borrar"> {% endblock %}