.slider{
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 500%;
    animation: cambio 15s infinite alternate;
    
}
.slider li{
    width:100%;
    list-style: none;
    

}
.slider img{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    
}


@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    40%{margin-left: -100%;}

    45%{margin-left: -200%;}
    60%{margin-left: -200%;}

    65%{margin-left: -300%;}
    80%{margin-left: -300%;}
    
    85%{margin-left: -400%;}
    100%{margin-left: -400%;}


    
}