@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('tiposmarihuana.css');
.titulo {
    margin: 0;
    margin-top: 50px;
}

.titulo .parrafotitulo .parrafo h2 {
    margin-top: 60px;
    color: black;
}

.tituloimagen img {
    height: 350px;
    margin-top: 20px;
}

.textoparrafotitulo {
    margin: auto;
}

.secefectos {
    margin: auto;
}

.secefectos .conefectos .efectosmarihuana h2 {
    text-align: center;
    color: #9acd32;
}

.secdosis {
    margin: auto;
}

.secdosis .contentdosis .dosis h2 {
    text-align: center;
    color: #9acd32;
}

footer .piepag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    text-align: center;
    font-size: 28px;
    width: 100%;
}

.sociales a {
    text-decoration: none;
    color: #333;
}

.borrar {
    clear: both;
}

@media (max-width: 480px) {
    .titulo .parrafotitulo .parrafo h2 {
        margin-top: 0;
    }
    .titulo .parrafotitulo .parrafo p {
        margin-top: 5px;
    }
}