.Marihuana {
    width: 98%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.Marihuana img {
    height: 150px;
    width: 35%;
    margin: auto;
    margin-top: 2%
}

.Marihuana a {
    color: black;
    height: 50px;
    text-decoration: none;
}

.Marihuana a:hover {
    background: red;
}

@media (max-width:480px) {
    .Marihuana {
        width: 100%;
    }
    .Marihuana img {
        height: 100px;
        width: 40%;
    }
    ;
}